<!-- partials/myDashboardTable -->
<div id="myDashboardTableDiv" class="myTable">
<h2>Wallet Table</h2>
<br>
  <table id="myDashboardTable">
    <thead>
              <tr>
                  <th>Currency Name</th>
                  <th>Currency Symbol</th>
                  <th>Currency Price</th>
              </tr>
          </thead>
  </table>
  <br>
  <button id="btnRefreshWalletList"  class="btnRefreshList">Refresh Wallet List</button>

</div>
