<div id="myInvestorTableDiv" style="background-color: white; color:blue;">
  <br>
    <button id="btnRefreshInvestorList"  class="btn btn-secondary">Refresh Investor List</button>
  <br>
  <table id="myInvestorTable">
    <thead>
              <tr>
                  <th>Investor ID</th>
                  <th>Investor Name</th>
                  <th>Investor Type</th>
                  <th>Investor Cost</th>
                  <th>Investor Operator</th>
              </tr>
          </thead>
  </table>

</div>
