<div id="myInvestorTableDiv" class="myTable">
  <br>

  <br>
  <table id="myInvestorTable">
    <thead>
              <tr>
                  <th>Investor ID</th>
                  <th>Investor UserName</th>
                  <th>Investor LastName</th>
                  <th>Investor FirstName</th>
                  <th>Investor CompanyName</th>
                  <th>Investor PhoneNumber</th>
                  <th>Investor Type</th>
                  <th>Investor LastUpdated</th>
              </tr>
          </thead>
  </table>
<button id="btnRefreshInvestorList"  class="btnRefreshList">Refresh Investors List</button>
</div>
