<div id="myInvestorTableDiv" class="myTable">
  <br>
  <table id="myInvestorTable">
    <thead>
              <tr>
                  <th>Investor ID</th>
                  <th>Investor User Name</th>
                  <th>Investor Last Name</th>
                  <th>Investor First Name</th>
                  <th>Investor Company Name</th>
                  <th>Investor Phone Number</th>
                  <th>Investor Type</th>
                  <th>Investor Last Updated</th>
              </tr>
          </thead>
  </table>
  <br>
<button id="btnRefreshInvestorList"  class="btnRefreshList">Refresh Investors List</button>
</div>
