<div id="myInvestorTableDiv" class="myTable">
  <br>

  <br>
  <table id="myInvestorTable">
    <thead>
              <tr>
                  <th>Investor ID</th>
                  <th>Investor Name</th>
                  <th>Investor Type</th>
                  <th>Investor Cost</th>
                  <th>Investor Operator</th>
              </tr>
          </thead>
  </table>
<button id="btnRefreshInvestorList"  class="btnRefreshList">Refresh Investors List</button>
</div>
