<!-- partials/myMiningPoolTable -->
<div id="myMiningPoolTableDiv" class="myTable">
<h2>Mining Pool Table</h2>
<br>
  <table id="myMiningPoolTable">
    <thead>
              <tr>
                  <th>Mining Pool ID</th>
                  <th>Mining Pool Name</th>
                  <th>Mining Pool Wallet Address</th>
                  <th>Mining Pool Symbol</th>
                  <th>Mining Pool Coin Qty</th>
              </tr>
          </thead>
  </table>
  <br>
  <button id="btnRefreshMiningPoolList"  class="btnRefreshList">Refresh Mining Pools List</button>

</div>
