<div id="myRigTableDiv" style="background-color: white; color:blue;">
  <br>
    <button id="btnRefreshRigsList"  class="btn btn-secondary">Refresh Rigs List</button>
  <br>
  <table id="myRigTable">
    <thead>
              <tr>
                  <th>Rig ID</th>
                  <th>Rig Name</th>
                  <th>Rig Type</th>
                  <th>Rig Cost</th>
                  <th>Rig Operator</th>
              </tr>
          </thead>
  </table>

</div>
