<div id="myRigTableDiv" class="myTable">
  <br>

  <br>
  <table id="myRigTable">
    <thead>
              <tr>
                  <th>Rig ID</th>
                  <th>Rig Name</th>
                  <th>Rig Type</th>
                  <th>Rig Cost</th>
                  <th>Rig Operator</th>
              </tr>
          </thead>
  </table>
  <button id="btnRefreshRigsList"  class="btnRefreshList">Refresh Rigs List</button>

</div>
