<div id="myWalletTableDiv" class="myTable">
  <br>

  <br>
  <table id="myWalletTable">
    <thead>
              <tr>
                  <th>Wallet Address</th>
                  <th>Coin Symbol</th>
              </tr>
          </thead>
  </table>
  <button id="btnRefreshWalletList"  class="btnRefreshList">Refresh Wallet List</button>

</div>
