
<div id="myWalletTableDiv" class="myTable">
<h2>Wallet Table</h2>
<br>
  <table id="myWalletTable">
    <thead>
              <tr>
                  <th>Wallet Address</th>
                  <th>Coin Symbol</th>
              </tr>
          </thead>
  </table>
  <br>
  <button id="btnRefreshRigsList"  class="btnRefreshList">Refresh Wallet List</button>

</div>
