<!-- views/Login -->
<!doctype html>
<html>
  <head>
    <title>CoinLada</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://hosted-sip.civic.com/css/civic-modal.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="coinLada.png">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://hosted-sip.civic.com/js/civic.sip.min.js"></script>

  </head>

  <body>
  {{{ body }}}
  </body>

</html>
