<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
		<title>MVC</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- <script src="/assets/js/script.js"></script> -->
		<script src="https://hosted-sip.civic.com/js/civic.sip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
	</head>
	<body>
		{{{ body }}}
		<!-- script src="assets/js/script.js"></script -->
		<script src="assets/js/data.js"></script>
<	</body>
</html>
