<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
<!-- STYLESHEETS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

		<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
<!-- JAVASCRIPT -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://hosted-sip.civic.com/js/civic.sip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	</head>
	<body>
		<header id="masthead">
			<div class="container">
				<a href="/dashboard" id="logo">CoinLada</a>
				<nav>
					<a href="/dashboard">Dashboard</a>
					<a href="/sa">SU Admin</a>
					<a href="/login">Logout</a>
				</nav>
			</div>
		</header>
		{{{ body }}}
		<script src="assets/js/data.js"></script>
	</body>
</html>
