<!--Views/adminConsole -->
<!doctype html>
<html>
<head>
    <title>LnFriends App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
     <!-- load fontawesome -->

</head>
<body>



<header id="adminConsole">
   <div class="container">
     <nav>
       <a href="">Wallet</a>
       <a href="">Mining pool</a>
       <a href="">Investors</a>
     </nav>
   </div>
 </header>

</body>
</html>
