<!-- views/profile -->
<!doctype html>
<html>
<head>
    <title>LnFriends App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link href="pricing.css" rel="stylesheet">
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles2.css" type="text/css" />

    <header id="masthead">
   <div class="container">
     <a href="dashboard.handlebars" id="logo">CoinLada</a>
     <nav>
       <a href="dashboard.handlebars">Dashboard</a>
       <a href="index.handlebars">Admin Console</a>
       <a href="login.handlebars">Logout</a>
     </nav>
   </div>
 </header>
</head>
<body>
    <div class="container">

    <div class="text-center">

        <h1><span class="fa fa-lock"></span> CoinLada</h1>
        <div class="center-admin">
              <p>Admin Console</p>
        </div>
      
    </div>
    <br>
   <section class="sidebar">
      <div id="console">
            <h3>Wallet</h3>
            <h3>Mining Pool</h3>
            <h3>Investors</h3> 
      </div>
    </section>
  </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary">Start</button>

    </div>
    </body>
</html>