<!-- views/dashboard -->
<!doctype html>
<html>
<head>
	<title>LnFriends App</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link href="../../../pricing.css" rel="stylesheet">
	<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

</head>
<body>
{{myDashboardTable}}
<script src="assets/js/dashboardScript.js"></script>
</body>
</html>
