<!doctype html>
<html>
<head>
    <title>LnFriends App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://hosted-sip.civic.com/css/civic-modal.min.css">

<script src="https://hosted-sip.civic.com/js/civic.sip.min.js"></script>

<script src="assets/js/script.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> LnFriends App</h1>

        <p>Login or Register with:</p>

        <!-- <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
        <button id="signupButton" class="civic-button-a medium" type="button">
          <span>Log in with Civic</span>
        </button>
        <button id="signupButtonNoAuth" class="civic-button-a medium" type="button" onclick=''>
          <span>Login No auth</span>
        </button>
        <br /><br /><br /><br /><br />
        <a href="https://www.civic.com/app" class="btn btn-primary" target="_blank">Get<span class="hide-when-mobile">Civic</span>App</a>

    </div>

</div>
<script src="assets/js/script.js"></script>
</body>
</html>
