<<<<<<< HEAD

=======
<!-- views/Login -->
>>>>>>> 5ba8337dc92ea2ce38a8de979bad9e5810a8783e
<!doctype html>
<html>
<head>
    <title>CoinLada</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://hosted-sip.civic.com/css/civic-modal.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="coinLada.png">

<script src="https://hosted-sip.civic.com/js/civic.sip.min.js"></script>
</head>
<body>
<<<<<<< HEAD

    <h1>not this</h1>
    <img class="logo" src="assets/css/coinLada.png" alt="logo" />
    <div class="text-center">
    
=======
    <img class="logo" src="assets/css/coinLada.png" alt="logo" />
    <div class="text-center">

>>>>>>> 5ba8337dc92ea2ce38a8de979bad9e5810a8783e
<div class="container">

    <div class="text-center">

        <h1><span class="fa fa-lock"></span> CoinLada</h1>

        <p>Login or Register with:</p>

        <!-- <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
<<<<<<< HEAD
        <button id="signupButton" class="civic-button-a medium" type="button">
          <span>Log in with Civic</span>
        </button>
        <button id="signupButtonNoAuth" class="civic-button-a medium" type="button" onclick=''>
=======
        <button id="signupButton" class="civic-button-a medium" type="button" onclick='signupButton'>
          <span>Log in with Civic</span>
        </button>
        <button id="signupButtonNoAuth" class="civic-button-a medium" type="button" onclick='signupButtonNoAuth'>
>>>>>>> 5ba8337dc92ea2ce38a8de979bad9e5810a8783e
          <span>Login No auth</span>
        </button>
        <br /><br /><br /><br /><br />
        <a href="https://www.civic.com/app" class="btn btn-primary" target="_blank">Get<span class="hide-when-mobile">Civic</span>App</a>

    </div>

</div>
<<<<<<< HEAD
<script src="assets/js/script.js"></script>
=======
<script src="assets/js/loginScript.js"></script>
>>>>>>> 5ba8337dc92ea2ce38a8de979bad9e5810a8783e
</body>
</html>