<!-- views/Login -->
  <img class="logo" src="assets/css/coinLada.png" alt="logo" />
  <div class="text-center">
    <div class="container">
      <div class="text-center">
        <h1 id="login">Login or Register with Civic</h1>
        <!-- <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
        <button id="signupButton" class="civic-button-a medium" type="button" onclick="signupButton">
          <span>Log in with Civic</span>
        </button>
        <button id="signupButtonNoAuth" class="civic-button-a medium" type="button" onclick='signupButtonNoAuth'>
          <span>Login No auth</span>
        </button>
        <br /><br /><br /><br /><br />
        <a href="https://www.civic.com/app" class="btn btn-primary" target="_blank">Get<span class="hide-when-mobile">Civic</span>App</a>
      </div>
    </div>
  </div>
  
  <script src="assets/js/loginScript.js"></script>
