<!--views/miningPools    -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center enter_selection" id="mining_pool_form">
        <br>
          <label id="mining_pool_id_label" class="label"for="wallet">Mining Pool ID:</label>
          <input type="text" id="mining_pool_id" class="input" name="name" placeholder="Enter Mining Pool ID" required="required">
        <br>
          <label id="mining_pool_name_label" class="label"for="coin">Mining Pool Name:</label>
          <input type="text" id="mining_pool_name" class="input" name="name" placeholder="Enter Mining Pool Name" required="required">
        <br>
          <label id="mining_pool_url_label" class="label"for="coin">Mining Pool API URL:</label>
          <input type="text" id="mining_pool_url" class="input" name="name" placeholder="Enter Mining Pool API URL" required="required">
        <br>
          <label id="mining_pool_wallet_address_label" class="label"for="wallet">Mining Pool Wallet Address:</label>
          <input type="text" id="mining_pool_wallet_address" class="input" name="name" placeholder="Enter Mining Pool Wallet Address" required="required">
        <br>
          <label id="mining_pool_symbol_label" class="label"for="coin">Mining Pool Symbol:</label>
          <input type="text" id="mining_pool_symbol" class="input" name="name" placeholder="Enter Mining Pool Symbol" required="required">
        <br>
          <button id="btnAddMiningPool" name="button"  class="add_mining_pool_btn" type="button">Add Mining Pool</button>
        <br>
        <br>
       </div>
  </div>
</div>
<br>
<br>
<div class="row">
    <div class="">
        {{>myMiningPoolTable}}
    </div>
</div>
    <script src="assets/js/miningPools.js"></script>
