<!--Views/adminConsole -->
<!doctype html>
<html>
<head>
    <title>LnFriends App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
     <!-- load fontawesome -->

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center enter_selection " id="form">
        <br>
          <label id="lable" for="rig_id">Rig ID:</label>
          <input type="text" id="rig_id" name="name" placeholder="Enter rig id" required="required">
        <br>
          <label id="lable" for="rig_name">Rig Name:</label>
          <input type="text" id="rig_name" name="name" placeholder="Enter rig name" required="required">
        <br>
          <label id="lable" for="rig_type">Rig Type:</label>
          <input type="text" id="rig_type" name="name" placeholder="Enter rig type" required="required">
        <br>
          <label id="lable" for="rig_operator">Rig Operator:</label>
          <input type="text" id="rig_operator" name="name" placeholder="Enter rig operator" required="required">
        <br>
        <br>
          <button id="btnAddRig"  class="btn btn-secondary">Add Rig</button>
        <br>
        <br>
       </div>
  </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        {{>myRigTable}}
    </div>
</div>

</body>
</html>
