<!-- views/sa.handlebars -->
<head>
<link rel="stylesheet" href="/assets/css/styles3.css" type="text/css" />
</head>
	<div class="container">
		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> SA Dashboard Home</h1>
			<a href="/dashboard" class="btn btn-light btn-sm">Home</a>
			<a href="/logout" class="btn btn-light btn-sm">Logout</a>
		</div>
		<div class="row">
			<!-- LOCAL INFORMATION -->
			<div class="col-sm-12">

				<h1 class="page-header text-center">{{title}}</h1>

				<div class="row">
					<!-- LOCAL INFORMATION -->
					<div class="col-sm-g">
					
					</div>
					<div class="col-sm-7">
                        <div id="coin_data_results" class="card mb-5">
                            <h3><span class="fa fa-user"></span> Currencies</h3>
                            <div id="tableCoinData" class="mb-5">
                                <button id="btnGetCurrencies" class="btn btn-secondary" >Get Currencies</button>
                            </div>
                            <div id="output_currrencies"></div>
                        </div>

                        <!-- websocket test -->
                        <div id="coin_data_results" class="card mb-5">
                            <h3><span class="fa fa-user"></span> Tickers</h3>
                            <input id="currency_symbol" type="text" placeholder="Enter coin symbol" />
                            <button id="btnSendCoin"  class="btn btn-secondary">Refresh Price</button>
                            <div id="output_tickers"></div>
                        </div>
												<div id="miningpools_data_results" class="card mb-5">
                            <h3><span class="fa fa-user"></span> getMiningPoolTotal</h3>
							<p>Test Value: STLmMKJSH7GLGhxcY6tj52VRfaJk4ppHSW</p>
                            <input id="mining_pool_name" type="text" placeholder="Enter mining pool name" />
                            <input id="mining_wallet_address" type="text" placeholder="STLmMKJSH7GLGhxcY6tj52VRfaJk4ppHSW" />
                            <button id="btnGetTotal"  class="btn btn-secondary">Get Total</button>
                            <div id="output_mining_pools"></div>
                        </div>

						<!-- data tables -->
						<!-- {{>myDataTable}} -->

						<!-- JP- websocket test /* TheBSODPool *****-->
						<div id="wallet_results" class="card">
							<h3><span class="fa fa-user"></span>Wallet Data</h3>
								<input id="enter_coin" type="text" placeholder="Enter Coin Symbol" />
							</div>
							<div class="enter_address">
								<input id="wallet_address" type="text" placeholder="Enter Address">
							</div>
							<button id="btnAddWallet"  class="btn btn-primary">Add Wallet</button>
						</div>

					</div> <!-- ./end col-sm-6 -->
				</div> <!-- ./end row -->
			</div> <!-- ./end col-sm-12 -->
		</div> <!-- ./end row -->
	</div> <!-- ./end cointainer -->
