<!--Views/adminConsole -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center enter_selection" id="wallet_form">
        <br>
          <label id="wallet_address_label" class="label" for="wallet">Wallet Address:</label>
          <input type="text" id="wallet_address" class="input" name="name" placeholder="Enter wallet address" required="required">
        <br>
          <label id="coin_symbol_label" class="label" for="coin">Coin Symbol:</label>
          <input type="text" id="wallet_symbol" class="input" name="name" placeholder="Enter coin symbol" required="required">
        <br>
        <br>
        <button id="btnAddWallet" name="button"  class="add_wallet_btn" type="button">Add a Wallet</button>
        <br>
        <br>
       </div>
  </div>
</div>
<br>
<br>
<div class="row">
    <div class="">
        {{>myWalletTable}}
    </div>
</div>
    <script src="assets/js/wallets.js"></script>
