body {
    background-image: url("white.jpeg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

h1 {
	color: black;
	font-size: 46px;
}

p {
	font-size: 24px;
}
a {
	font-size: 20px;
}

.logo {
	position: absolute;
	width: 250px;
    height: 250px;
}

#signupButton{
	margin-top: 100px;
}

#signupButtonNoAuth {
	margin-top: 100px;
}

.hide-when-mobile {
	padding: 1.375rem .75rem;
    font-size: 30px;
    line-height: 1;
}

#masthead {
 position: fixed;
 z-index: 99;
 width: 100%;
 margin: 0 0 30px;
 overflow: auto;
 color: #fff;
 background: #fff;
 border-bottom: 2px solid #ccc;
}

#logo {
 float: left;
 width: 250px;
 height: 90px;
 font-family: Georgia, Times, "Times New Roman", serif;
 font-size: 30px;
 font-weight: 700;
 line-height: 90px;
 color: #fff;
 text-align: center;
 text-decoration: none;
 background: #4aaaa5;
}

nav {
 float: right;
 margin-top: 25px;
}

nav a {
 display: inline-block;
 padding-left: 15px;
 margin-left: 15px;
 line-height: 18px;
 color: #999;
 text-decoration: none;
 border-left: 1px solid #efefef;
}

.well {
	position: relative;
	top: 75px;
}

#login {
	 margin-top: 65px;
	 color: #4aaaa5;
}

#signupButton {
	background: #007bff;
	color: white;
	padding: 1.375rem .75rem;
    font-size: 30px;
    line-height: 1;
}