body {
    background-image: url("white.jpeg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}

#masthead {
 position: fixed;
 z-index: 99;
 width: 100%;
 margin: 0 0 30px;
 overflow: auto;
 color: #fff;
 background: #fff;
 border-bottom: 2px solid #ccc;
}

#logo {
 float: left;
 width: 250px;
 height: 90px;
 font-family: Georgia, Times, "Times New Roman", serif;
 font-size: 30px;
 font-weight: 700;
 line-height: 90px;
 color: #fff;
 text-align: center;
 text-decoration: none;
 background: #4aaaa5;
 padding-bottom: 5px;
}

nav {
 float: right;
 margin-top: 25px;
}

nav a {
 display: inline-block;
 padding-left: 15px;
 margin-left: 15px;
 line-height: 18px;
 color: #999;
 text-decoration: none;
 border-left: 1px solid #efefef;
}

p {
	background: white;
	background-size; max-width: 300px;
	padding-top:50px;
	color: #4aaaa5;
	font-size: 40px;
	text-align: center !important;
	position: relative;
	left: 35%;
}

.sidebar{
	background-color: white;
	color: black;
	float: left;
    width: 100%;
    max-width: 270px;
    padding: 30px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.btn {
    display: inline-block;
    padding: 30px 50px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}